@model Lab_4.Models.Videogames

@{
    ViewBag.Title = "Details";
}


<div class="jumbotron">
    <font color="black">
        <h2>Detalles del videojuego</h2>
    </font>

    <font color="black"  size="3">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RealeseDAte)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RealeseDAte)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ranking)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ranking)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.platform)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.platform)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Players)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Players)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Name }) |
            @Html.ActionLink("Regresar al indice", "Index")
        </p>

    </font>
</div>

    
